/* index css */

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.page {
    background-color: rgb(255, 246, 207);
}

.title {
    text-align: center;
    color: orange;
}

.link, .description {
    text-align: center;
    list-style-position: inside;
}

/*apple pie page style */

.head {
    text-align: center;
    color: rgb(255, 197, 88);
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 450px;
}

.image2 {
height: auto;
width: 450px;
}

.description {
    font-size: 18px;
}